/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.flight-list {
  margin: 0 auto;
  width: 450px;

  mat-card {
    margin-bottom: 1rem;
  }
}
